.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  margin-left: 0;
  padding: 1rem;
  margin-top: 60px; /* header height */
  transition: margin-left 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .mainContent {
    margin-left: 220px; /* sidebar width */
  }
}
